{% if cookiecutter.use_mongo == 'y' %}
MONGODB_DB={{cookiecutter.project_name}}db
{% elif cookiecutter.use_postgresql == 'y' %}
POSTGRES_URL=postgres://{{cookiecutter.dbuser}}:{{cookiecutter.dbpwd}}@localhost:5432/{{cookiecutter.project_name}}db
{% endif %}
USE_SENTRY={{cookiecutter.use_sentry}}
SENTRY_DSN={{cookiecutter.sentry_dsn}}